{% extends 'store/main.html' %}
{% load static %}
{% block content %}
	<div class="row">
		{% for product in products %}
		<div class="col-xl-3 col-lg-4 col-sm-6 mb-3">
			<img class="thumbnail" src="{{product.imageURL}}">
			<div class="box-element product">
				<h6><strong>{{product.name}}</strong></h6>
				<hr>
                <button data-product="{{product.id}}" data-action="add" class="btn btn-outline-success update-cart add-btn">Add</button>
				<a class="btn btn-outline-primary" href="#">View</a>
				<h4 class="h4"><strong>${{product.price}}</strong></h4>
			</div>
		</div>
		{% endfor %}
	</div>

{% endblock content %}